NODE_ENV=development
HOST=127.0.0.1
PORT=4100
APP_MODE=mock
PUBLIC_APP_ORIGIN=http://127.0.0.1:5173
# LAN_HOST=192.168.0.120
# LAN_BIND=0.0.0.0
# SEERR_URL=http://192.168.0.10:5055
# SEERR_API_KEY=replace-me
# SEERR_SERVER_ID=1
# SEERR_PROFILE_ID=1
# KINOPOISK_API_KEY=replace-me
# RADARR_URL=http://192.168.0.10:7878
# JACKETT_URL=http://192.168.0.10:9117
# PUBLIC_JACKETT_URL=http://127.0.0.1:9117
# JACKETT_API_KEY=replace-me
# TORRSERVER_URL=http://192.168.0.10:8090
# PUBLIC_TORRSERVER_URL=http://192.168.0.10:8090
# CONTAINER_TORRSERVER_PORT=8091
# JELLYFIN_URL=http://192.168.0.10:8096
